.section-header-content {
  padding: 50px 0px 100px 0px;
  background: url("../assets/images/banner-image.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
  min-height: 635px;
}

.title h1 {
  font-weight: bold;
  font-size: 48px;
}

.title span {
  color: #fe9640;
}

.tagline {
  font-size: 24px;
  margin-bottom: 50px;
}

.banner-content {
  margin: 60px 0px;
  max-width: 450px;
}

.btn-signup button {
  background: #5e95e0;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 30px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.text-how-to-chat {
  color: #565656;
  font-weight: 600;
  margin-left: 20px;
}

.section-numbers {
  background: #f5faff;
}

.section-numbers {
  background: #f5faff;
  padding: 70px 0px;
}

.number-box {
  background: #fff;
  border-radius: 24px;
  padding: 20px;
  text-align: center;
}

.number-box h1 {
  color: #629fe3;
  font-size: 48px;
  font-weight: bold;
  margin-top: 20px;
}

.number-box p {
  color: #7a7a7a;
  font-weight: 500;
}

.section-users {
  background: #fafcff;
  padding: 70px 0px;
}

.section-users .users-image {
  text-align: center;
}

.section-review {
  padding: 70px 0px;
  background: #fafcff;
  position: relative;
}

.circle-img {
  position: absolute;
  right: 0;
  top: -238px;
}

.users-text-slider {
  margin: 40px 0px;
}

.users-main {
  background: #fefeff;
  padding: 50px;
}

.section-review .title {
  text-align: center;
}

.section-review .title h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 1;
}

.review-left-white {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 20px;
  margin: 25px 0px;
  background: #fff;
}

.review-right-orange {
  background: #fe9c40;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 25px;
  margin: 25px 0px;
}

.review-right-blue {
  background: #5e95e0;
  color: #fff;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 25px;
  margin: 25px 0px;
}

.review-right-orange p,
.review-right-blue p {
  color: #fff;
}

.user-img img {
  float: left;
  margin-right: 15px;
}

.user-img p {
  margin: 0;
}

.section-signup {
  background: #fafcff url("../assets/images/signup-btn-bg.png");
  min-height: 487px;
  background-repeat: no-repeat;
  background-size: cover;
}

.signup-btn button {
  background: #fe9640;
  border: none;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 10px 30px;
  color: #fff;
  font-weight: bold;
}

.signup-btn {
  padding-top: 200px;
  text-align: center;
}

.section-vector {
  background: #fafcff url("../assets/images/section-vector-bg.png");
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.user-img-right {
  text-align: right;
}

.user-img-right p {
  margin: 0;
}

.user-img-right img {
  float: right;
  margin-left: 10px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 767px) {
  .section-header-content {
    background: none;
    padding: 50px 0px;
    min-height: 300px;
  }

  .banner-content {
    margin: 0;
    max-width: 100%;
  }

  .number-box {
    margin-bottom: 15px;
  }

  .section-review .title h1 {
    font-size: 36px;
  }

  .section-signup {
    padding-top: 20px;
  }

  .signup-vector img {
    width: 200px;
  }

  .signup-btn {
    margin-bottom: 50px;
  }

  .social-links,
  .privacy-policy {
    margin-top: 15px;
  }
  .circle-img {
    display: none;
  }
  .section-vector {
    background: #fafcff;
  }
}

@media screen and (max-width: 425px) {
  .title h1 {
    font-size: 30px;
    text-align: center;
  }

  .tagline {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
  }

  .btn-signup {
    text-align: center;
  }
}
