.users-text-slider .carousel-indicators li {
  width: 10px !important;
  height: 10px !important;
  background-color: #5893e2 !important;
  border-radius: 50%;
}

.users-text-slider .carousel-indicators {
  right: auto !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
  top: 100% !important;
}

.users-text-slider .title h2 {
  font-weight: bold;
  font-size: 28px;
}

.users-text-slider .carousel-item {
  max-width: 350px;
}

@media screen and (max-width: 767px) {
  .users-text-slider {
    text-align: center;
    margin-top: 50px;
  }

  .users-text-slider .carousel-item {
    max-width: fit-content;
  }

  .users-text-slider .carousel-indicators {
    margin-right: 0 !important;
    margin-left: 0 !important;
    top: 100% !important;
    right: 0 !important;
  }
}
