body {
  font-family: "Work Sans", sans-serif !important;
}

#header {
  background: #000000;
}

.navbar-watch-it .nav-link {
  color: #fff !important;
  font-weight: 600;
}

.navbar-watch-it .nav-item:hover {
  background: #b73038 !important;
}

.reserve-seat {
  background: #b73038;
  border-radius: 8px;
  margin-left: 25px;
  animation: glowing 1500ms infinite;
}

@keyframes glowing {
  0% {
    background-color: #b20000;
    box-shadow: 0 0 3px #b20000;
  }
  50% {
    background-color: #ff0000;
    box-shadow: 0 0 40px #ff0000;
  }
  100% {
    background-color: #b20000;
    box-shadow: 0 0 3px #b20000;
  }
}

.navbar-toggler {
  background: #b73038 !important;
}

.about-us-section {
  margin: 50px 0px;
}

.about-us-text h1,
.scheduled-movies-section .title h1,
.section-movies-tabs .title h1,
.section-news .title h1,
.section-mobile-movie .title h1 {
  color: #b73038;
  font-weight: bold;
}

.about-us-section .about-us-text {
  margin: 100px 0px;
}

.scheduled-movies-section {
  margin: 50px 0px;
  background: #000000;
  padding: 50px 0px;
}

.scheduled-movies-section .title {
  margin-bottom: 25px;
}

.scheduled-movies-section hr,
.section-movies-tabs hr,
.about-us-text hr,
.section-news hr {
  border-top: 3px solid #b73038;
}

.movie-one-image,
.movie-two-image,
.movie-three-image,
.movie-four-image {
  transition: transform 0.2s;
}

.movie-one-image:hover,
.movie-two-image:hover,
.movie-three-image:hover,
.movie-four-image:hover {
  transform: scale(0.9);
  box-shadow: 0 0 5px 5px #b73038;
}

.section-movies-tabs {
  margin: 50px 0px;
}

.movie-name h3,
.movie-location h3,
.movie-time h3,
.movie-overview h3 {
  color: #b73038 !important;
  font-weight: bold;
  margin: 0;
}

.movie-name p,
.movie-location p,
.movie-time p,
.movie-overview p {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}

.movie-one-tab,
.movie-two-tab,
.movie-three-tab,
.movie-four-tab {
  padding-top: 30px;
}

.mobile-reserve-btn {
  display: none;
}

.section-news {
  background: #000000;
  margin-top: 50px;
  padding: 50px 0px;
}

.news h5 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.news p {
  color: #fff;
  font-size: 14px;
  margin-top: 20px;
}

.news-main {
  margin-top: 50px;
}

.news .read-more {
  color: #b73038;
  font-weight: 600;
}

footer {
  background: #b73038;
  padding: 20px 0px;
}

.social-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
}

.social-links ul li {
  margin-right: 25px;
}

footer p {
  margin: 0;
}

.registration-form-modal .modal-header {
  background: #b73038;
  color: #fff;
}

.registration-form-modal .btn-submit-form {
  background: #b73038;
  color: #fff;
  font-weight: 600;
}

.registration-form-modal .btn-submit-form:hover {
  background: #fff;
  border: 1px solid #b73038;
  color: #b73038 !important;
}

.registration-form-modal .close {
  color: #fff;
  text-shadow: 0 1px 0 #fff;
  opacity: 1;
}

.section-mobile-movie {
  display: none;
}

@media only screen and (max-width: 991px) {
  .navbar-watch-it {
    text-align: center;
    margin-top: 20px;
  }

  .reserve-seat {
    display: none;
  }

  .mobile-reserve-btn {
    display: block;
    margin: 0;
  }

  .mobile-reserve-btn .nav-link {
    color: #fff;
    font-weight: 600;
  }

  .social-links,
  .privacy.text-white {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .about-us-section,
  .scheduled-movies-section,
  .section-movies-tabs {
    text-align: center;
  }

  .movie-detail {
    padding-bottom: 50px;
  }

  .top-rated-movies img {
    margin-bottom: 20px;
  }

  .scheduled-movies-section,
  .section-movies-tabs {
    display: none;
  }

  .mobile-movie-1,
  .mobile-movie-2,
  .mobile-movie-3,
  .mobile-movie-4 {
    text-align: center;
    margin-bottom: 20px;
  }

  .movie-video {
    margin: 50px 0px;
  }

  .mobile-movie-image img:hover {
    box-shadow: 0 0 5px 5px #b73038;
  }

  .section-mobile-movie {
    display: block;
  }

  .section-mobile-movie {
    background: #000;
    text-align: center;
    padding: 20px 0px;
  }

  .movie-name p,
  .movie-location p,
  .movie-time p,
  .movie-overview p {
    color: #fff;
  }
}
