body {
  font-family: "Work Sans", sans-serif !important;
}

#header {
  background: #000000;
}

.navbar-watch-it .nav-link {
  color: #fff !important;
  font-weight: 600;
}

.navbar-watch-it .nav-item:hover {
  background: #b73038 !important;
}

.reserve-seat {
  background: #b73038;
  border-radius: 8px;
  margin-left: 25px;
  animation: glowing 1500ms infinite;
}

@keyframes glowing {
  0% {
    background-color: #b20000;
    box-shadow: 0 0 3px #b20000;
  }
  50% {
    background-color: #ff0000;
    box-shadow: 0 0 40px #ff0000;
  }
  100% {
    background-color: #b20000;
    box-shadow: 0 0 3px #b20000;
  }
}

.navbar-toggler {
  background: #fff !important;
}

.about-us-section {
  margin: 70px 0px;
}

.about-us-text h1,
.top-rated-movies-section .title h1 {
  color: #b73038;
  font-weight: bold;
}

.about-us-section .about-us-text {
  margin: 100px 0px;
}

.top-rated-movies-section {
  margin: 50px 0px;
}

.top-rated-movies-section .title {
  margin-bottom: 25px;
}

.top-rated-movies-section hr {
  border-top: 3px solid #b73038;
  width: 15%;
}

@media only screen and (max-width: 991px) {
  .navbar-watch-it {
    text-align: center;
    margin-top: 20px;
  }

  .reserve-seat {
    margin: 0;
  }
}
